{% extends 'base.html.twig' %}

{% block title %}Search Employees{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        div > #clear-search {
            margin-left: -42px;
            margin-top: 9px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home.index.js') }}"></script>

{% endblock %}
{% block body %}

    {% include("include/_navbar.html.twig") %}

    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search for {{ keyword }}</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-4 mb-4">

            {{ form_start(form, {'attr': {'id': "search-form", 'class': 'row justify-content-md-center'}}) }}
            <div class="col-4">
                <div class="row">
                    {{ form_widget(form.keyword,{'id': 'search-input', 'value': keyword }) }}
                    <button id="clear-search" type="button" class="btn-close invisible"
                            aria-label="Close"></button>
                </div>
            </div>

            <div class="col-1">
                {{ form_widget(form.submit, {'label':'Search'}) }}
            </div>

            {{ form_end(form) }}
        </div>

        {% if(employees is empty) %}
            <div class="row">
                <p class="text-center">No Result Found ! </p>
                <div class="text-center">
                    <img alt="not found" src="{{ asset('assets/img/not-found.webp') }}">
                </div>
            </div>

        {% else %}
            <div class="row">
                <p> {{ employees_count }} result{{ employees|length > 1 ? 's' : '' }} found!</p>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Hourly Salary</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for employee in employees %}
                        <tr>
                            <th scope="row">{{ employee.id }}</th>
                            <td>{{ employee.firstname|capitalize }} {{ employee.lastname|upper }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.salaryHourly | format_currency('EUR', {fraction_digit: 2}) }}</td>
                            <td>{{ employee.birthday|date("d/m/Y") }}</td>
                            <td>
                                {% if(employee.photo is null) %}
                                    <img width="48" alt="default Image"
                                         src="{{ asset("photos/") ~  "defaultImage.png" }}">
                                {% else %}
                                    <img width="48" alt="profile Image"
                                         src="{{ asset("photos/") ~ employee.photo }}">
                                {% endif %}
                            </td>
                            <td><a href="{{ path('app_employee_edit', {'id': employee.id}) }}"
                                   class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                                <a href="{{ path('app_employee_one', {'id': employee.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="bi bi-eye-fill"></i></a>
                                <a href="{{ path('app_employee_remove', {'id': employee.id}) }}"
                                   class="btn btn-outline-primary"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}

    </div>


{% endblock %}
